.Rproj.user
.Rhistory
.RData
analyses/_blast-annot-crab-sort.tab
analyses/1108-cbairdiblast-sprot.tab
analyses/_blast-GO-unfolded-nos.sorted
analyses/_blast-annot.tab
analyses/_blast-GO-unfolded.sorted
analyses/_blast-GO-unfolded.tab
analyses/_blast-sep.tab
analyses/_blast-sep2.tab
analyses/_blast-sep3.tab
analyses/_blast-sort.tab
analyses/_blast-annot.tab
analyses/_intermediate.file
analyses/Blastquery-GOslim.tab
analyses/Cb_v1_blastx_uniprot2864_imac.tab
analyses/crab-GOslim-count.csv
analyses/dino-Blastquery-GOslim.sorted
analyses/GO-GOslim.sorted
analyses/uniprot-SP-GO.sorted
analyses/_blast-annot.tab
analyses/_blast-sep-crab.tab
analyses/_blast-sep-hemat.tab
analyses/_blast-sep2-crab.tab
analyses/_blast-sep2-crab.tab
data/Cbairdi_transcriptome-1.fa
data/Cbairdi_transcriptome-1.fai
analyses/_blast-sep2-crab.tab
notebooks/_blast-GO-unfolded.tab
notebooks/_intermediate.file
notebooks/Cbairdi_transcriptome-1.fa
.RDataTmp
